
*.sln
*.csproj
/Temp
/obj
/Library/AnnotationManager
/Library/assetDatabase3
/Library/AssetImportState
/Library/AssetServerCacheV3
/Library/BuildPlayer.prefs
/Library/FailedAssetImports.txt
/Library/guidmapper
/Library/ScriptMapper
/Library/cache
/Library/metadata
/Library/previews
/Library/ScriptAssemblies
/Library/expandedItems
*.suo
/Assets/Test
/Assets/Test.meta
*.unityproj
/Assets/Standard Assets
/Assets/Standard Assets.meta
*.pidb
*.html
*.swf
*.userprefs
*.swc
*.js
/Library